* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:yellowgreen;
}

.container {
    background: white;
    padding: 40px 60px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    border: 5px solid #007bff; /* Added colored border */
}

h1 {
    font-size: 24px;
    color: #0c276f;
    margin-bottom: 20px;
    margin-top: 0px;
}

.input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
}

button {
    padding: 10px 15px;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #0056b3;
}

#result {
    margin-top: 20px;
}

.avatar {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 30px;
}

.label {
    font-size: 18px;
    color: #0c276f; /* Color for labels */
    font-weight: bold;
    margin-bottom: 15px;
    margin-top: 15px;
}

.value {
    font-size: 18px;
    color: #333; /* Color for values */
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 15px;
}
